<h1>Project #<%= @project.id %></h1>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Responsible:</b>
  <%= @project.responsible %>
</p>

<p>
  <b>Priority:</b>
  <%= @project.priority %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>

<p>
  <b>Due date:</b>
  <%= @project.due_date %>
</p>

<p>
  <b>Reminder:</b>
  <%= @project.reminder %>
</p>


