<h1>Contractor #<%= @contractor.id %></h1>

<p>
  <b>Business:</b>
  <%= @contractor.business %>
</p>

<p>
  <b>Name:</b>
  <%= @contractor.name %>
</p>

<p>
  <b>Type:</b>
  <%= @contractor.type %>
</p>

<p>
  <b>Email:</b>
  <%= @contractor.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @contractor.phone %>
</p>

<p>
  <b>Address:</b>
  <%= @contractor.address %>
</p>


